body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #e6e4e4;
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: black solid 1px;
  box-shadow: black 5vh 0.1vh 5vh 0.1vh;
}

.logo {
  padding-bottom: 15px;
  width: 30%;
}

img {
  width: 20vw;
  max-width: 250px;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  margin-right: 45px auto;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 3rem;
  padding: 25px;
  font-weight: 1000;
  margin-right: 2rem;
}

a:hover {
  color: #ffffff;
  background-color: rgb(150, 145, 145);
  border-radius: 500px 200px 800px 200px;
  transition: 250ms ease-in;
}

@media screen and (max-width: 768px) {

  header {
    height: 40vh;
    display: flex;
    flex-direction: column;
  }

  .logo img {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 100%;
    padding-bottom: 0;
    width: 200px;
  }


  nav {
    width: 100%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
  }
  a {
    font-size: 2rem;
    padding: 15px;
  }

  img{
    width: 60vw;
    max-width: 450px;
    
  }

.logo{
  padding-bottom: 0;
  margin-right: 120px;
  padding: 19px 0 0 0;
}

}
]
}

  
}
